<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>应用管理</title>
    {include file="common/_require"}

    <script>
        var currentHeaderNavItem = 'User';
        var currentLeftNavItem = 'index';
    </script>
</head>

<body class="layui-layout-body">

    <div class="layui-layout layui-layout-admin">
        {include file="common/_header"}

        {include file="common/left_user"}

        <div class="layui-body">

            <div style="padding:15px">
                <div class="main-header">
                    <span class="layui-breadcrumb">
                        <a>首页</a>
                        <a><cite>用户列表</cite></a>
                    </span>
                </div>
                <div class="main-container">
                    <div >
                        <a class="layui-btn" href="{:url('create')}"> 添加用户</a>
                    </div>
                    <div style="overflow: auto;">
                        <table class="layui-table" lay-skin="line">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>帐号</th>
                                    <th>头像</th>
                                    <th>手机号</th>
                                    <th>昵称</th>
                                    <th>注册时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                {volist name='list' id='vo'}
                                    
                                <tr class="item" data-id="{$vo.id}">
                                    <td>{$vo.id}</td>
                                    <td>{$vo.account}</td>
                                    <td><img src="{$vo.avatar}" alt=""></td>
                                    <td>{$vo.phone}</td>
                                    <td>{$vo.nickname}</td>
                                    <td>{$vo.create_time}</td>
                                    <td>
                                        <div class="layui-btn-container">
                                            <a class="layui-btn layui-btn-sm" href="{:url('admin/User/edit',['id'=>$vo.id])}">编辑</a>
                                            <div class="layui-btn layui-btn-sm delete">删除</div>
                                        </div>
                                    </td>
                                    
                                </tr>
                                {/volist}
                                {if condition="count($list) == 0" }
                                    <tr>
                                        <td colspan="7">暂无数据</td>
                                    </tr>
                                {/if}
                            </tbody>
                        </table>
                        <div>
                            {$list|raw}
                        </div>
                    </div>
                </div>
            </div>
        </div>


        {include file="common/_footer"}

        <script>
        
        $('.delete').click(function(){
                var item = this;
                layer.confirm('确定要删除吗？',function(){
                    $.get('{:url("delete")}',{
                        id:$(item).parents('.item').data('id')
                    },function(result){
                        layer.msg('删除成功');

                        $(item).parents('.item').remove();
                    })
                })
            })
        
        </script>
    </div>
</body>

</html>