<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>应用管理</title>
    {include file="common/_require"}

    <script>
        var currentHeaderNavItem = 'Admin';
        var currentLeftNavItem = 'group';
    </script>
</head>
<body class="layui-layout-body">
    
    <div class="layui-layout layui-layout-admin">
        {include file="common/_header"}
    
        {include file="common/left_admin_manage"}
    
        <div class="layui-body">
    
            <div style="padding:15px">
                <div class="main-header">
                    <span class="layui-breadcrumb">
                        <a>首页</a>
                        <a><cite>添加分组</cite></a>
                    </span>
                </div>
                <div class="main-container">
                    <div class="layui-row">
                        <div class="layui-col-md6">
                            <fieldset class="layui-elem-field">
                                <legend>添加分组</legend>
                                    <div class="layui-field-box">
                                        <form action="{:url('save')}" class="layui-form" method="POST" >
                                            <div class="layui-form-item">
                                                <div class="layui-form-label">分组名称</div>
                                                <div class="layui-input-block">
                                                    <input type="text" name="name" class="layui-input">
                                                </div>
                                            </div>
                                            <div class="layui-form-item">
                                                <div class="layui-form-label">分组权限</div>
                                                <div class="layui-input-block">
                                                    {volist name='permission_list' id='vo'}
                                                        <input type="checkbox" name="permissions[]" title="{$vo.name}({$vo->getData('key')})" value="{$vo.id}" lay-skin="primary" checked>
                                                    {/volist}
                                                </div>
                                            </div>
                                            <div class="layui-form-item">
                                                <button class="layui-btn layui-btn-fluid" type="submit">创建分组</button>
                                            </div>
                                        </form>
                                    </div>
                                </legend>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    
        {include file="common/_footer"}
    </div>
    <script>
        layui.use(['form'])
    </script>
</body>
</html>