<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>应用管理</title>
    {include file="common/_require"}

    <script>
        var currentHeaderNavItem = 'Admin';
        var currentLeftNavItem = 'group';
    </script>
</head>
<body class="layui-layout-body">
    
    <div class="layui-layout layui-layout-admin">
        {include file="common/_header"}
    
        {include file="common/left_admin_manage"}
    
        <div class="layui-body">
    
            <div style="padding:15px">
                <div class="main-header">
                    <span class="layui-breadcrumb">
                        <a>首页</a>
                        <a><cite>分组管理</cite></a>
                    </span>
                </div>
                <div class="main-container">
                    <div>
                        <div class="layui-btn-container">
                            <a class="layui-btn" href="{:url('AdminGroup/create')}">添加分组</a>
                        </div>
                    </div>
                    <div style="overflow: auto;">
                        <table class="layui-table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>分组名称</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                {volist name='list' id='vo'}
                                    <tr class="item">
                                        <td>{$vo.id}</td>
                                        <td>{$vo.name}</td>
                                        <td>
                                            <div class="layui-btn-container">
                                                <a href="{:url('edit',['id'=>$vo.id])}" class="layui-btn layui-btn-sm">编辑</a>
                                                <div data-href="{:url('delete',['id'=>$vo.id])}" class="layui-btn layui-btn-sm delete">删除</div>
                                            </div>
                                        </td>
                                    </tr>
                                {/volist}
                                {if condition="count($list) eq 0" }
                                    <tr>
                                    <td colspan="3">暂无数据</td>
                                    </tr>
                                {/if}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    
    
        {include file="common/_footer"}

        <script>
            $('.delete').click(function(){
                var item = this;
                layer.confirm('确定要删除吗?',function(){
                    $.get($(item).data('href'),function(result){
                        if(result.code == 0){
                            $(item).parents('.item').remove();
                        }
                        layer.msg(result.msg);
                    })
                })
            })
        </script>
    </div>
</body>
</html>