<!--[if lt IE 9]>
<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<link rel="stylesheet" href="__STATIC__/admin/css/public.css" media="all">
<link rel="stylesheet" href="__STATIC__/common/css/theme/index.css">

<!-- 基础js -->
<script src="__STATIC__/plugs/jquery-3.4.1/jquery-3.4.1.min.js"></script>
<script src="__STATIC__/common/js/app.js"></script>
<script src="__STATIC__/plugs/layui-v2.8.17/layui.js" charset="utf-8"></script>
<script src="__STATIC__/plugs/vue-2.6.10/vue.min.js"></script>

<script src="__STATIC__/plugs/Sortable.min.js"></script>
<script src="__STATIC__/plugs/vuedraggable.umd.min.js"></script>

<!-- 其他js -->
<script src="__STATIC__/plugs/jq-module/jquery.particleground.min.js"></script>
<script src="__STATIC__/plugs/echarts/echarts.min.js"></script>
<script src="__STATIC__/plugs/echarts/echarts-theme.js"></script>
<script src="__STATIC__/plugs/lay-module/layuimini/miniMenu.js"></script>
<script src="__STATIC__/plugs/lay-module/layuimini/miniTab.js"></script>
<script src="__STATIC__/plugs/lay-module/layuimini/miniTheme.js"></script>
<script src="__STATIC__/plugs/lay-module/layuimini/miniAdmin.js"></script>
<script src="__STATIC__/plugs/lay-module/treetable-lay/treetable.js"></script>
<script src="__STATIC__/plugs/lay-module/tableData/tableData.js"></script>
<script src="__STATIC__/plugs/lay-module/tagInput/tagInput.js"></script>
<script src="__STATIC__/plugs/lay-module/propertyInput/propertyInput.js"></script>
<script src="__STATIC__/plugs/lay-module/iconPicker/iconPickerFa.js"></script>
<script src="__STATIC__/plugs/lay-module/autocomplete/autocomplete.js"></script>


<script src="__STATIC__/plugs/ckeditor4/ckeditor.js"></script>
<script src="__STATIC__/plugs/jq-module/city-picker/js/city-picker.data.min.js"></script>
<script src="__STATIC__/plugs/jq-module/city-picker/js/city-picker.min.js"></script>
<script src="__STATIC__/plugs/clipboard.js/clipboard.min.js"></script>
<script src="__STATIC__/plugs/ulthon-admin/table.js"></script>
<script src="__STATIC__/plugs/ulthon-admin/ulthon-admin.js"></script>