@media screen and (max-width: 768px){

}
.layui-nav-tree .layui-nav-item a:hover{
    background-color: #6699CC;
}

.layui-bg-black{
    background-color: #66CCFF !important; 
}

.layui-nav-tree .layui-nav-child dd.layui-this, 
.layui-nav-tree .layui-nav-child dd.layui-this a, 
.layui-nav-tree .layui-this, 
.layui-nav-tree .layui-this > a, 
.layui-nav-tree .layui-this > a:hover{
    background-color: #6699CC;
}

.layui-layout-admin .layui-logo{
    color: #fff;
    line-height: 45px;
}

.layui-layout-admin .layui-header{
    background-color: #39BDFF;
}

.layui-nav {
    background-color: #66CCFF;
}

.layui-header{
    height: 45px;
}

.layui-nav .layui-nav-item{
    line-height: 45px;
}

.layui-nav .layui-nav-item a {
    color: #FFFFFF;
    
}

.layui-nav .layui-nav-child a {
    color: #66CCFF;
}

.layui-nav .layui-this::after,
.layui-nav-bar,
.layui-nav-tree .layui-nav-itemed::after {
    background-color: #CCFFFF;
}

.layui-tab-brief > .layui-tab-title .layui-this{
    color: #66CCFF;
}

.layui-tab-brief > .layui-tab-more li.layui-this::after, .layui-tab-brief > .layui-tab-title .layui-this::after{
    border-color: #66CCFF;
}

.layui-btn{
    background-color: #66CCFF;
}
.layui-form-radio > i:hover, .layui-form-radioed > i{
    color: #66CCFF;
}

.layui-elem-quote{
    border-color: #66CCFF;
}

.layui-laydate td.layui-this{
    background-color: #66CCFF !important;
}

.layui-form-checkbox[lay-skin="primary"]:hover i{
    border-color: #66CCFF;
}
.layui-form-checked[lay-skin="primary"] i{
    border-color: #66CCFF !important;
    background-color: #66CCFF !important;
}

.layui-form-select dl dd.layui-this{
  background-color: #66CCFF;
}


.layui-form-label{
  width: unset;
  padding: 3px 3px;
  float: unset;
  text-align: left;
  font-weight: 600;
  font-size: 15px;
}

.layui-input-block{
  margin-left: 0;
}

.layui-form-pane .layui-form-label{
  float: left;
  font-weight: normal;
  font-size: 14px;
}

.layui-nav-tree .layui-nav-item a{
    height: 35px;
    line-height: 35px;
}

.layui-nav-tree{
    width: 140px;
}
.layui-layout-admin .layui-side{
    width: 140px;
    top: 45px;
}
.layui-layout-admin .layui-footer{
    left: 140px;
    height: 35px;
    line-height: 35px;
}
.layui-layout-admin .layui-body{
    top: 45px;
}

.layui-side-scroll{
    width: 140px;
}

.layui-body{
    left: 140px;
}

.layui-nav .layui-nav-child dd.layui-this a, .layui-nav-child dd.layui-this{
    background-color: #19B3FF;
}

.layui-nav-tree .layui-nav-bar{
    background-color: #66CCFF;
}

.layui-form-label .layui-word-aux{
  font-size: 12px;
}