<div class="layui-col-md2">
  <div class="logo">
    <a href="{:url('Index/index')}">
      <img src="{:get_source_link(get_system_config('site_logo'))}" alt="">
    </a>
  </div>
  <div class="nav-left-container">
    <div class="nav-left-list">
      <a href="{:url('Index/index')}" {eq name='$Request.param.category_id|default=0' value='0'} class="current" {/eq}>全部</a>
      {volist name='list_header_nav' id='nav'}
      <a href="{$nav.value}" >{$nav.title}</a>
      {/volist}
      {volist name='list_category_first_level' id='category'}
      <a href="{:url('Index/index',['category_id'=>$category.id])}" {eq name='$Request.param.category_id|default=0' value='$category.id'} class="current"{/eq} >{$category.title}</a>
      {/volist}
    </div>
  </div>
</div>