<!-- nav部分 -->
<div class="nav index">
  <div class="layui-container">
    <!-- 公司logo -->
    <div class="nav-logo">
      <a href="{:url('index/Index/index')}">
        <img src="{:get_source_link(get_system_config('site_logo'))}" alt="{:get_system_config('site_name')}">
      </a>
    </div>
    <div class="nav-list">
      <button>
        <span></span><span></span><span></span>
      </button>
      <ul class="layui-nav" lay-filter="">
        {volist name='list_header_nav' id='nav'}

        <li class="layui-nav-item"><a href="{$nav.value}">{$nav.title}</a></li>
        {/volist}

      </ul>
    </div>
  </div>
</div>