<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>应用管理</title>
    {include file="common/_require"}

    <script>
        var currentHeaderNavItem = 'Admin';
        var currentLeftNavItem = 'log';
    </script>
</head>

<body class="layui-layout-body">

    <div class="layui-layout layui-layout-admin">
        {include file="common/_header"}

        {include file="common/left_admin_manage"}

        <div class="layui-body">

            <div style="padding:15px">
                <div class="main-header">
                    <span class="layui-breadcrumb">
                        <a>首页</a>
                        <a><cite>操作日志</cite></a>
                    </span>
                </div>
                <div class="main-container">
                    <div>

                    </div>
                    <div style="overflow: auto;">
                        <table class="layui-table">
                            <colgroup>
                                <col width="150">
                                <col width="200">
                                <col>
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>访问地址</th>
                                    <th>访问信息</th>
                                    <th>操作管理员</th>
                                    <!-- <th>操作</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                {volist name='list' id='vo'}
                                    
                                <tr data-id="{$vo.id}" data-param="{$vo->getData('param')}">
                                    <td>{$vo.id}</td>
                                    <td>
                                        <p>{$vo.url.name}</p>
                                        <p>{$vo.key}</p>
                                    </td>
                                    <td>
                                        <p>访问时间:{$vo.create_time}</p>
                                        <p>访问IP:{$vo.ip}</p>
                                    </td>
                                    
                                    <td>
                                        <img src="{$vo.admin.avatar}" alt="" style="width: 50px;">
                                        {$vo.admin_id}/{$vo.admin.nickname}
                                    </td>
                                    <!-- <td>
                                        <div class="layui-btn-container">
                                            <div class="layui-btn layui-btn-sm delete">删除</div>
                                        </div>
                                    </td> -->
                                </tr>
                                {/volist}
                                {if condition="count($list) eq 0" }
                                    <tr>
                                        <td colspan="6">暂无操作记录</td>
                                    </tr>
                                {/if}
                            </tbody>
                        </table>
                        <div>
                            {$list->render()|raw}
                        </div>
                    </div>
                </div>
            </div>
        </div>


        {include file="common/_footer"}

        
    </div>
</body>

</html>