<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>管理员管理</title>
    {include file="common/_require"}

    <script>
        var currentHeaderNavItem = 'Admin';
        var currentLeftNavItem = 'index';
    </script>
</head>

<body class="layui-layout-body">

    <div class="layui-layout layui-layout-admin">
        {include file="common/_header"}

        {include file="common/left_admin_manage"}

        <div class="layui-body">

            <div style="padding:15px">
                <div class="main-header">
                    <span class="layui-breadcrumb">
                        <a>首页</a>
                        <a><cite>管理员管理</cite></a>
                    </span>
                </div>
                <div class="main-container">
                    <div>
                        <a class="layui-btn" href="{:url('Admin/create')}">添加管理员</a>
                    </div>
                    <div style="overflow: auto;">
                        <table class="layui-table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>头像</th>
                                    <th>账号</th>
                                    <th>昵称</th>
                                    <th>分组</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                {volist name='$list' id='vo'}
                                    
                                <tr class="item" data-id="{$vo.id}">
                                    <td>{$vo.id}</td>
                                    <td><img src="{$vo.avatar}" alt=""></td>
                                    <td>{$vo.account}</td>
                                    <td>{$vo.nickname}</td>
                                    <td>{$vo.group.name|default="未分组"}</td>
                                    <td>
                                        <div class="layui-btn-container">
                                            <a class="layui-btn layui-btn-sm" href="{:url('Admin/editAccount',['id'=>$vo.id])}">编辑</a>
                                            <div class="layui-btn layui-btn-sm delete">
                                                删除
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {/volist}
                                {if condition="count($list) eq 0" }
                                    <tr>
                                        <td colspan="6">暂无数据</td>
                                    </tr>
                                {/if}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        {include file="common/_footer"}

        <script>
        
            $('.delete').click(function(){
                var item = this;
                layer.confirm('确定要删除吗？',function(){
                    $.get('{:url("delete")}',{
                        id:$(item).parents('.item').data('id')
                    },function(result){
                        layer.msg('删除成功');

                        $(item).parents('.item').remove();
                    })
                })
            })
        
        </script>
    </div>
</body>

</html>