<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>基本资料</title>
    {include file="common/_require"}

    <script>
        var currentHeaderNavItem = 'Login';
        var currentLeftNavItem = 'password';
    </script>
</head>
<body class="layui-layout-body">
    
    <div class="layui-layout layui-layout-admin">
        {include file="common/_header"}
    
        {include file="common/left_admin"}
    
        <div class="layui-body">
    
            <div style="padding:15px">
                <div class="main-header">
                    <span class="layui-breadcrumb">
                        <a>首页</a>
                        <a><cite>密码管理</cite></a>
                    </span>
                </div>
                <div class="main-container">
                    <div class="layui-row">
                        <div class="layui-col-md6">
                            <fieldset class="layui-elem-field">
                                <legend>密码管理</legend>
                                <div class="layui-field-box">
                                    <form action="{:url('Admin/passwordUpdate')}" method="POST" class="layui-form">
                                        <div class="layui-form-item">
                                            <div class="layui-form-label">原密码</div>
                                            <div class="layui-input-block">
                                                <input type="password" name="original_password" value="" class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <div class="layui-form-label">新密码</div>
                                            <div class="layui-input-block">
                                                <input type="password" name="new_password" value="" class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <div class="layui-form-label">确认密码</div>
                                            <div class="layui-input-block">
                                                <input type="password" name="check_password" value="" class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <button class="layui-btn layui-btn-fluid" type="submit">保存</button>
                                        </div>
                                    </form>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    
        {include file="common/_footer"}

    </div>
</body>
</html>