<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{:sysconfig('site','site_name')}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {include file='common/_require'/}
    <script>
        window.CONFIG = {
            ADMIN: "{$adminModuleName|default='admin'}",
            CONTROLLER_JS_PATH: "{$thisControllerJsPath|default=''}",
            ACTION: "{$thisAction|default=''}",
            AUTOLOAD_JS: "{$autoloadJs|default='false'}",
            IS_SUPER_ADMIN: "{$isSuperAdmin|default='false'}",
            VERSION: "{$version|default='1.0.0'}",
            CSRF_TOKEN: "{:token()}",
        };

        var PATH_CONFIG = {
            iconLess: "__STATIC__/plugs/font-awesome-4.7.0/less/variables.less",
        };
        window.PATH_CONFIG = PATH_CONFIG;
    </script>

    {$content_js|raw}

</head>

<body>
    {if $Request.isMobile }
    <link rel="stylesheet" href="//layui.ulthon.com/cdn/layui-ul.css">
    <div class="ul-section">
        <div class="ul-header">
            <div class="ul-header-main" style="max-width: 600px;">
                <div class="ul-header-left">
                    <a href="{:__url('admin/index/mobile')}" class="">
                        <img class="ul-header-logo" src="{$logo_info.image}" alt="">
                    </a>
                </div>
                {notempty name='session_admin'}   
                <div class="ul-header-right">
                    <div class="ul-header-user">
                        <div class="ul-header-user-avatar" style="background-image: url('{$session_admin.head_img}');">
                        </div>
                        <div class="ul-header-user-info">
                            <div class="ul-header-user-name">
                                {$session_admin.username}
                            </div>
                            <div class="ul-header-user-options">
                                <i class="ul-icon-exit"></i>
                                <span>退出</span>
                            </div>
                        </div>
                    </div>
                </div>
                {/notempty}
            </div>
        </div>
    </div>
    {/if}

    {__CONTENT__}
    <script style="display: none;" id="data-brage" type="text/plain">{$data_brage|raw|default='[]'}</script>
</body>

</html>