<div class="layui-header">
    <div class="layui-logo">{:get_system_config('site_name')}</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item"><a href="{:url('admin/Index/index')}">首页</a></li>
        <li class="layui-nav-item"><a href="{:url('admin/User/index')}">用户管理</a></li>
        <li class="layui-nav-item"><a href="{:url('File/index')}">文件管理</a></li>
        <li class="layui-nav-item"><a href="{:url('admin/Admin/index')}">管理员管理</a></li>
        <li class="layui-nav-item"><a href="{:url('admin/System/index')}">系统设置</a></li>
    </ul>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <a href="javascript:;">
                <img src="{$admin.avatar}" class="layui-nav-img">
                {$admin.nickname}
            </a>
            <dl class="layui-nav-child">
                <dd><a href="{:url('Admin/edit')}">基本资料</a></dd>
            <dd><a href="{:url('Admin/password')}">安全设置</a></dd>
            </dl>
        </li>

        <li class="layui-nav-item"><a href="{:url('Login/logout')}">退出</a></li>
    </ul>
</div>