<link rel="stylesheet" href="/static/css/reset.css">
<link rel="stylesheet" href="/static/css/pagination.css">
<link rel="stylesheet" href="/static/lib/layui/css/layui.css">
<script src="/static/lib/jquery/jquery-3.4.1.min.js"></script>
<script src="/static/lib/layui/layui.js"></script>
<script src="/static/js/common.js"></script>

<style>
    .main-container{
        margin-top: 10px;
    }
</style>

<script>
    //JavaScript代码区域
    layui.use(['element','layer'], function () {
        var element = layui.element;

    });

    $(function(){
        if(typeof currentHeaderNavItem != "undefined"){
            $('.header-nav-item').each(function(i,e){
                if($(e).data('name') == currentHeaderNavItem){
                    $(e).addClass('layui-this')
                }
            })
        }
        if(typeof currentLeftNavItem != "undefined"){
            $('.left-nav-item').each(function(i,e){
                if($(e).data('name') == currentLeftNavItem){
                    $(e).addClass('layui-this')
                }
            })
        }
    })
</script>
{:get_system_config('site_tongji')}