<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree" lay-filter="test">
          <li class="layui-nav-item layui-nav-itemed left-nav-item" data-name="post-{$Request.param.type|default='1'}">
              <a class="" href="{:url('Post/index',['type'=>$Request.param.type])}">文章管理</a>
          </li>
          <li class="layui-nav-item layui-nav-itemed left-nav-item" data-name="category-{$Request.param.type|default='1'}">
              <a class="" href="{:url('Category/index',['type'=>$Request.param.type])}">分类管理</a>
          </li>
          <li class="layui-nav-item layui-nav-itemed left-nav-item" data-name="tag-{$Request.param.type|default='1'}">
              <a class="" href="{:url('Tag/index',['type'=>$Request.param.type])}">标签管理</a>
          </li>
      </ul>
    </div>
</div>