<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree" lay-filter="test">
            <li class="layui-nav-item layui-nav-itemed left-nav-item" data-name="account">
                <a class="" href="{:url('admin/Admin/edit')}">账号信息</a>
            </li>
            <li class="layui-nav-item layui-nav-itemed left-nav-item" data-name="password">
                <a class="" href="{:url('Admin/password')}">密码管理</a>
            </li>
        </ul>
    </div>
</div>