.property-input-container {
    .input-item {
        .input-value {
            min-width: 240px;
        }

        .input-option{
            white-space: nowrap;
        }

        .layui-textarea{
            min-height: auto;
        }

        td{
            vertical-align: top;
        }

        .input-radio{
            label{
                margin-right: 10px;
            }

            .item-radio{
                display: inline-block;
            }
        }
    }
}