<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{$post.title}-{:get_system_config('site_name')}</title>
  {include file='common/_documents_require'/}
</head>

<body>
  <div class="layui-row read-header" style="display: flex;align-items: center;">
    <div class=" layui-col-md2">
      <a href="{:url('Index/index')}" class="site-logo">

        <img src="{:get_source_link(get_system_config('site_logo'))}" alt="">
        <div>{$post.title}</div>
      </a>
    </div>
    <div class="layui-col-md10">
      {include file='common/_documents_nav'/}
    </div>
  </div>

  <div class="layui-row main-body">
    {notempty name='list_post'}

    <div class="layui-col-md2 full-height">
      <div class="layui-card full-height">
        <div class="layui-card-header"><a
            href="{:url('read',['category_id'=>$Request.param.category_id,'id'=>$post.id])}">{$post.title}</a></div>
        <div class="layui-card-body list-container">
          <ol>
            {volist name='list_post' id='l_post'}

            <li><a
                href="{:url('read',['category_id'=>$Request.param.category_id,'id'=>$l_post.id])}">{$l_post.title}</a>
            </li>
            {/volist}
          </ol>
        </div>
      </div>
    </div>
    {/notempty}

    <div class="layui-col-md10 {empty name='list_post'} layui-col-md-offset1 {/empty}">
      <div class="post-container">
        <div class="post-title">{$post.title}</div>
        <div class="info">
          <span>{$post->publish_time_text}</span>
        </div>
        <div class="post-content">
          <div class="ql-snow">
            <div class="ql-editor">{$post->content_html|raw}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="layui-row">
    <div class="layui-row" style="text-align: center;margin-top: 15px;">
      <a href="http://www.beian.miit.gov.cn/" target="_blank">{:get_system_config('site_beian')}</a>
    </div>
  </div>
</body>

</html>