<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
  <title>{:get_system_config('site_name')}-首页</title>

  {include file='common/_easy_blue_require'/}
  <link rel="stylesheet" href="/static/lib/quill/quill.snow.css">
</head>

<body>
  {include file='common/_easy_blue_header'/}
  <div style="margin-top: 80px;">
    <div class="main-newsdate">
      <div class="layui-container">
        <p class="news"><a href="">实时新闻</a> > 新闻详情</p>
        <h1>{$post.title}</h1>
        <p class="pushtime">发布时间：<span>{$post.publish_time_text}</span></p>
        <p class="introTop">{$post.desc_html}</p>
        <div class="ql-editor">
          {$post.content_html|raw}
        </div>
        <p class="introBott">
          
        </p>
      </div>
    </div>
  </div>
  {include file='common/_easy_blue_footer'/}
  <!--[if lt IE 9]>
  <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
  <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

</body>

</html>