<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>导航管理</title>
  {include file="common/_require"}

  <script>
    var currentHeaderNavItem = 'System';
    var currentLeftNavItem = 'pc-nav-{$Request.param.type|default="1"}';
  </script>
</head>

<body class="layui-layout-body">

  <div class="layui-layout layui-layout-admin">
    {include file="common/_header"}

    {include file="common/left_system"}

    <div class="layui-body">

      <div style="padding:15px">
        <div class="main-header">
          <span class="layui-breadcrumb">
            <a>首页</a>
            <a><cite>导航</cite></a>
          </span>
        </div>
        <div class="main-container">
          <div>
            <a href="{:url('create',['type'=>$type,'show_img'=>$Request.param.show_img,'show_target'=>$Request.param.show_target,'show_xcx'=>$Request.param.show_xcx])}"
              class="layui-btn">添加</a>
          </div>

          <div>
            <table class="layui-table" lay-skin="line">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>名称</th>
                  <th>链接</th>
                  {eq name='$Request.param.show_img' value='1'}
                  <th>图片</th>
                  {/eq}
                  <th>排序</th>
                  <th>状态</th>

                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                {volist name='list' id='vo'}

                <tr class="item" data-id="{$vo.id}">
                  <td>{$vo.id}</td>
                  <td>{$vo.title}</td>

                  <td>{$vo.value}</td>
                  {eq name='$Request.param.show_img' value='1'}
                  <th><img src="{$vo.img}" alt=""></th>
                  {/eq}
                  <td>{$vo.sort}</td>
                  <td>{$vo.status_name}</td>
                  <td>
                    <div class="layui-btn-container">
                      <a class="layui-btn layui-btn-sm"
                        href="{:url('edit',['id'=>$vo.id,'show_img'=>$Request.param.show_img,'show_target'=>$Request.param.show_target,'show_xcx'=>$Request.param.show_xcx])}">编辑</a>
                      <div class="layui-btn layui-btn-sm delete">删除</div>
                    </div>
                  </td>

                </tr>
                {/volist}
                {if condition="count($list) == 0" }
                <tr>
                  <td colspan="7">暂无数据</td>
                </tr>
                {/if}
              </tbody>
            </table>
            <div>
              {$list|raw}
            </div>
          </div>
        </div>
      </div>
    </div>


    {include file="common/_footer"}
  </div>


  <script>

    $('.delete').click(function () {
      var item = this;
      layer.confirm('确定要删除吗？', function () {
        $.get('{:url("delete")}', {
          id: $(item).parents('.item').data('id')
        }, function (result) {
          layer.msg('删除成功');

          $(item).parents('.item').remove();
        })
      })
    })

  </script>
</body>

</html>