<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>系统管理</title>
  {include file="common/_require"}

  <script>
    var currentHeaderNavItem = 'System';
    var currentLeftNavItem = 'blog';
  </script>
</head>

<body class="layui-layout-body">

  <div class="layui-layout layui-layout-admin">
    {include file="common/_header"}

    {include file="common/left_system"}

    <div class="layui-body">

      <div style="padding:15px">
        <div class="main-header">
          <span class="layui-breadcrumb">
            <a>首页</a>
            <a><cite>系统设置</cite></a>
          </span>
        </div>
        <div class="main-container">
          <div class="layui-col-md6">
            <fieldset class="layui-elem-field">
              <legend>系统管理</legend>
              <div class="layui-field-box">
                <form class="layui-form" action="{:url('admin/System/update')}" method="post"
                  lay-filter="*">
                  <div class="layui-form-item">
                    <div class="layui-form-label">欢迎语</div>
                    <div class="layui-input-block">
                      <input type="text" name="blog_welcome_tips" value="{:get_system_config('blog_welcome_tips')}" class="layui-input">
                    </div>
                  </div>
                  <div class="layui-form-item">
                    <div class="layui-form-label">首页背景大图</div>
                    <div class="layui-input-block">
                      <div>
                        <div class="layui-btn upload-index-bg">上传</div>
                      </div>
                      <div>
                        <img class="index-bg" style="max-width: 200px;"
                          src="{:get_source_link(get_system_config('blog_index_bg_img'))}" alt="">
                      </div>
                      <input type="hidden" name="blog_index_bg_img" value="{:get_system_config('blog_index_bg_img')}"
                        class="layui-input">
                    </div>
                  </div>
                  <div class="layui-form-item">
                    <div class="layui-form-label">首页背景大标题(支持换行)</div>
                    <div class="layui-input-block">
                     <textarea name="blog_index_bg_title" class="layui-textarea">{:get_system_config('blog_index_bg_title')}</textarea>
                    </div>
                  </div>
                  <div class="layui-form-item">
                    <div class="layui-form-label">首页背景小标题(支持换行)</div>
                    <div class="layui-input-block">
                     <textarea name="blog_index_bg_title_plus" class="layui-textarea">{:get_system_config('blog_index_bg_title_plus')}</textarea>
                    </div>
                  </div>

                  <div class="layui-form-item">
                    <button class="layui-btn layui-btn-fluid" submit lay-submit lay-filter="site-info">保存</button>
                  </div>
                </form>
              </div>
            </fieldset>

          </div>
        </div>
      </div>
    </div>


    {include file="common/_footer"}

    <script>
      layui.use(['layer', 'form','upload'], function () {

        var form = layui.form;
        var upload = layui.upload;

        form.val('*', {
          index_tpl_name: '{:get_system_config("index_tpl_name")}'
        })

        var uploadSiteLogo = upload.render({
          elem: '.upload-index-bg',
          url: '{:url("File/save")}',
          data: {
            type: 1,
            dir: 'site_logo'
          },
          accept: 'images',
          done: function (result) {
            if (result.code == 0) {
              layer.msg('上传成功');
              $('input[name="blog_index_bg_img"]').val(result.data.save_name);
              $('.index-bg').attr('src', result.data.src);
            } else {
              layer.msg(result.msg)
            }
          }
        })

      })
    </script>
  </div>`
</body>

</html>