<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>系统管理</title>
    {include file="common/_require"}

    <script>
        var currentHeaderNavItem = 'System';
        var currentLeftNavItem = 'others';
    </script>
    <style>
        .layui-form-pane .layui-form-label{
            width:160px 
        }
        .layui-form-pane .layui-input-block{
            margin-left: 160px;
        }   
    </style>
</head>

<body class="layui-layout-body">

    <div class="layui-layout layui-layout-admin">
        {include file="common/_header"}

        {include file="common/left_system"}

        <div class="layui-body">

            <div style="padding:15px">
                <div class="main-header">
                    <span class="layui-breadcrumb">
                        <a>首页</a>
                        <a><cite>第三方管理</cite></a>
                    </span>
                </div>
                <div class="main-container">
                    <div class="layui-row">

                        <div class="layui-col-md6">
                            <fieldset class="layui-elem-field " >
                                <legend>阿里OSS存储设置 <a href="https://www.aliyun.com/product/oss?source=5176.11533457&userCode=2fzx2rfo&type=copy" target="_blank"><i class="layui-icon layui-icon-help"></i></a></legend>
                                <div class="layui-field-box">
                                    <form class="layui-form layui-form-pane" action="{:url('admin/System/update')}" method="post">
                                        <div class="layui-form-item">
                                            <div class="layui-form-label">AccessKey</div>
                                            <div class="layui-input-block">
                                                <input type="text" name="qiniu_access_key" value="{:get_system_config('qiniu_access_key')}" class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <div class="layui-form-label">SecretKey</div>
                                            <div class="layui-input-block">
                                                <input type="text" name="qiniu_secret_key" value="{:get_system_config('qiniu_secret_key')}" class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <div class="layui-form-label">空间名称</div>
                                            <div class="layui-input-block">
                                                <input type="text" name="qiniu_bucket" value="{:get_system_config('qiniu_bucket')}" class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <div class="layui-form-label">空间域名</div>
                                            <div class="layui-input-block">
                                                <input type="text" name="qiniu_domain" value="{:get_system_config('qiniu_domain')}" class="layui-input">
                                            </div>
                                        </div>
                                        
                                        <div class="layui-form-item">
                                            <button class="layui-btn layui-btn-fluid">保存</button>
                                        </div>
                                    </form>
                                </div>
                            </fieldset>
    
                        </div>
                    </div>
                    <div class="layui-row">

                        <div class="layui-col-md6">
                            <fieldset class="layui-elem-field " >
                                <legend>阿里短信配置 <a href="https://www.aliyun.com/acts/alicomcloud/new-discount?userCode=2fzx2rfo" target="_blank"><i class="layui-icon layui-icon-help"></i></a></legend>
                                <div class="layui-field-box">
                                    <form class="layui-form layui-form-pane" action="{:url('admin/System/update')}" method="post">
                                        <div class="layui-form-item">
                                            <div class="layui-form-label">AccessKey</div>
                                            <div class="layui-input-block">
                                                <input type="text" name="ali_msn_access_key" value="{:get_system_config('ali_msn_access_key')}"  class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <div class="layui-form-label">AccessSecret</div>
                                            <div class="layui-input-block">
                                                <input type="text" name="ali_msn_access_secret" value="{:get_system_config('ali_msn_access_secret')}"  class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <div class="layui-form-label">模板ID</div>
                                            <div class="layui-input-block">
                                                <input type="text" name="ali_msg_tpl_id" value="{:get_system_config('ali_msg_tpl_id')}"  class="layui-input">
                                            </div>
                                        </div>
                                        
                                        <div class="layui-form-item">
                                            <button class="layui-btn layui-btn-fluid">保存</button>
                                        </div>
                                    </form>
                                </div>
                            </fieldset>
    
                        </div>
                    </div>
                    <div class="layui-row">

                        <div class="layui-col-md6">
                            <fieldset class="layui-elem-field " >
                                <legend>微信第三方平台配置</legend>
                                <div class="layui-field-box">
                                    <form class="layui-form layui-form-pane" action="{:url('admin/System/update')}" method="post">
                                        <div class="layui-form-item">
                                            <div class="layui-form-label">AppID</div>
                                            <div class="layui-input-block">
                                                <input type="text" name="wx_open_app_id" value="{:get_system_config('wx_open_app_id')}"  class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <div class="layui-form-label">AppSecret</div>
                                            <div class="layui-input-block">
                                                <input type="text" name="wx_open_app_secret" value="{:get_system_config('wx_open_app_secret')}"  class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <div class="layui-form-label">消息校验Token</div>
                                            <div class="layui-input-block">
                                                <input type="text" name="wx_open_app_token" value="{:get_system_config('wx_open_app_token')}"  class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <div class="layui-form-label">消息加解密Key</div>
                                            <div class="layui-input-block">
                                                <input type="text" name="wx_open_app_aes_key" value="{:get_system_config('wx_open_app_aes_key')}"  class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <button class="layui-btn layui-btn-fluid">保存</button>
                                        </div>
                                    </form>
                                </div>
                            </fieldset>
    
                        </div>
                    </div>
                    <div class="layui-row">
                        <div class="layui-col-md6">
                            <fieldset class="layui-elem-field " >
                                <legend>微信公众号配置</legend>
                                <div class="layui-field-box">
                                    <form class="layui-form layui-form-pane">
                                        <div class="layui-form-item">
                                            <div class="layui-form-label">公众号名称</div>
                                            <div class="layui-input-block">
                                                <input type="text" name="wx_app_name" class="layui-input" value="{:get_system_config('wx_app_name')}">
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <div class="layui-form-label">AppID</div>
                                            <div class="layui-input-block">
                                                <input type="text" name="wx_app_id"  class="layui-input" value="{:get_system_config('wx_app_id')}">
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <div class="layui-form-label">AppSecret</div>
                                            <div class="layui-input-block">
                                                <input type="text" name="wx_app_secret"  class="layui-input" value="{:get_system_config('wx_app_secret')}">
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <div class="layui-form-label">Token</div>
                                            <div class="layui-input-block">
                                                <input type="text" name="wx_app_token"  class="layui-input" value="{:get_system_config('wx_app_token')}">
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <div class="layui-btn-container">

                                                <div class="layui-btn layui-btn-fluid" >保存</div>

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="layui-row">
                        <div class="layui-col-md6">
                            <fieldset class="layui-elem-field " >
                                <legend>微信支付配置<i class="layui-icon layui-icon-help" onmouseover="layer.tips('支付的公众号必须是上面授权的公众号',this)"></i></legend>
                                <div class="layui-field-box">
                                    <form class="layui-form layui-form-pane" action="{:url('admin/System/update')}" method="post">
                                        <div class="layui-form-item">
                                            <div class="layui-form-label">商户ID</div>
                                            <div class="layui-input-block">
                                                <input type="text" name="wx_mch_id" value="{:get_system_config('wx_mch_id')}" class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <div class="layui-form-label">商户秘钥</div>
                                            <div class="layui-input-block">
                                                <input type="text" name="wx_mch_secert" value="{:get_system_config('wx_mch_secert')}"  class="layui-input" id="">
                                                
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <div class="layui-form-label">商户key</div>
                                            <div class="layui-input-block">
                                                <input type="text" name="wx_mch_pen_key" readonly value="{:get_system_config('wx_mch_pen_key')}"  class="layui-input" id="">
                                                <div class="layui-btn">上传</div>
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <div class="layui-form-label">商户cert</div>
                                            <div class="layui-input-block">
                                                <input type="text" name="wx_mch_pem_cert" readonly value="{:get_system_config('wx_mch_pem_cert')}"  class="layui-input" id="">
                                                <div class="layui-btn">上传</div>
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <button class="layui-btn layui-btn-fluid">授权</button>
                                        </div>
                                    </form>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        {include file="common/_footer"}
    </div>
    <script>
        layui.use(['layer'],function(){
            var layer = layui.layer;
            

        })
    </script>
</body>

</html>