<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>系统管理</title>
    {include file="common/_require"}

    <script>
        var currentHeaderNavItem = 'System';
        var currentLeftNavItem = 'theme';
    </script>
</head>

<body class="layui-layout-body">

    <div class="layui-layout layui-layout-admin">
        {include file="common/_header"}

        {include file="common/left_system"}

        <div class="layui-body">

            <div style="padding:15px">
                <div class="main-header">
                    <span class="layui-breadcrumb">
                        <a>首页</a>
                        <a><cite>系统设置</cite></a>
                    </span>
                </div>
                <div class="main-container">
                    <div class="layui-col-md6">
                        <fieldset class="layui-elem-field">
                            <legend>系统管理</legend>
                            <div class="layui-field-box">
                                <form class="layui-form layui-form-pane" action="{:url('admin/System/update')}" method="post" lay-filter="*">
                                    <div class="layui-form-item">
                                        <div class="layui-form-label">选择主题</div>
                                        <div class="layui-input-block">
                                            <div>
                                                <input type="radio" name="index_tpl_name" value="" title="无-''">
                                            </div>
                                            <div>
                                                <input type="radio" name="index_tpl_name" value="easy_blue_" title="官网主题简约蓝-'easy_blue_'">
                                            </div>
                                            <div>
                                                <input type="radio" name="index_tpl_name" value="articles_" title="资讯头条主题-'articles_'">
                                            </div>
                                            <!-- <div>
                                                <input type="radio" name="index_tpl_name" value="documents_" title="文档主题-'documents_'">
                                            </div>
                                            <div>
                                                <input type="radio" name="index_tpl_name" value="blog_" title="博客主题-'blog_'">
                                            </div> -->
                                        </div>
                                    </div>
                                    
                                    <div class="layui-form-item">
                                        <button class="layui-btn layui-btn-fluid" submit lay-submit lay-filter="site-info">保存</button>
                                    </div>
                                </form>
                            </div>
                        </fieldset>

                    </div>
                </div>
            </div>
        </div>


        {include file="common/_footer"}

        <script>
            layui.use(['layer','form'],function(){
                
                var form = layui.form;

                form.val('*',{
                    index_tpl_name:'{:get_system_config("index_tpl_name")}'
                })

            })
        </script>
    </div>`
</body>

</html>