<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
  <title>{:get_system_config('site_name')}-首页</title>

  {include file='common/_easy_blue_require'/}
</head>

<body>
  {include file='common/_easy_blue_header'/}
  <div style="margin-top: 80px;">
    <!-- banner部分 -->
    <div class="banner about" style="background-image: url('{$category.model_parent.title_img}');">
      <div class="title">
        <p>{$category.model_parent.title}</p>
        <p class="en">{$category.model_parent.desc}</p>
      </div>
    </div>
    <!-- main部分 -->
    <div class="main-about">
      <div class="layui-container">
        <div class="layui-row">
          <ul class="aboutab">
            {volist name='category.model_same_parent' id='same_parent_category'}
            <li {eq name='$category.id' value='$same_parent_category.id' }class="layui-this" {/eq}
              onclick="location.href = $(this).data('href')"
              data-href="{:url('Category/read',['id'=>$same_parent_category.id])}">{$same_parent_category.title}</li>
            {/volist}
          </ul>
          <div class="tabCour" style="display: block;">

            <p class="title">我们的蜕变</p>
            <ul class="timeline">
              {volist name='$category.posts_list' id='post'}
            
              {if $i%2 == 0 }

              <li class="odd">
                <div class="cour-img"><img src="{$post.poster}"></div>
                <div class="cour-panel layui-col-sm4 layui-col-lg5">
                  <p class="label">{:date('Y 年 m 月 d 日',$post->publish_time)}</p>
                  <p>{$post.title}</p>
                </div>
              </li>
              {else /}
              <li>
                <div class="cour-img"><img src="{$post.poster}"></div>
                <div class="cour-panel layui-col-sm4 layui-col-sm-offset8 layui-col-lg5 layui-col-lg-offset7">
                  <p class="label">{:date('Y 年 m 月 d 日',$post->publish_time)}</p>
                  <p>{$post.title}</p>
                </div>
              </li>
            
              {/if}



              {/volist}


            </ul>

          </div>

        </div>
      </div>
    </div>
  </div>
  {include file='common/_easy_blue_footer'/}
  <!--[if lt IE 9]>
  <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
  <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

</body>

</html>