<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
  <title>{:get_system_config('site_name')}-首页</title>

  {include file='common/_easy_blue_require'/}
</head>

<body>
  {include file='common/_easy_blue_header'/}
  <div style="margin-top: 80px;">

    <!-- banner部分 -->
    <div class="banner product" style="background-image: url('{$category.title_img}');">
      <div class="title">
        <p>{$category.title}</p>
        <p class="en">{$category.desc}</p>
      </div>
    </div>
    <!-- main部分 -->
    <div class="main-case">
      <div class="layui-container" style="display: flex;justify-content: space-between;align-items: flex-start;flex-wrap: wrap;">
        {volist name='$category.posts_list' id='post'}
        <div class="layui-inline content">
          <div class="layui-inline case-img"><img src="{$post.poster}"></div>
          <p class="lable">{$post.title}</p>
          <p>{$post.desc}</p>
        </div>
        
        {/volist}

      </div>
    </div>
  </div>
  {include file='common/_easy_blue_footer'/}


</body>

</html>