<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
  <title>{:get_system_config('site_name')}-首页</title>
  
  {include file='common/_easy_blue_require'/}
</head>
<body>
  <!-- nav部分 -->
  <div class="nav index">
    <div class="layui-container">
      <!-- 公司logo -->
      <div class="nav-logo">
        <a href="index.html">
          <img src="{:get_source_link(get_system_config('site_logo'))}" alt="{:get_system_config('site_name')}">
        </a>
      </div>
      <div class="nav-list">
        <button>
          <span></span><span></span><span></span>
        </button>
        <ul class="layui-nav" lay-filter="">
          {volist name='list_header_nav' id='nav'}
            
          <li class="layui-nav-item"><a href="{$nav.value}">{$nav.title}</a></li>
          {/volist}
          
        </ul>
      </div>
    </div>
  </div>
  <!-- banner部分 -->
  <div>
    <div class="layui-carousel" id="banner">
      <div carousel-item>
        {volist name='list_nav_slide' id='nav'}
          
        <a href="{$nav.value|default='javascript:;'}" target="{$nav.target}">
          <img src="{$nav.img}">
          <div class="panel">
            <p class="title">{$nav.title}</p>
            <p>{$nav.desc}</p>
          </div>
        </a>
        {/volist}
        
      </div>
    </div>
  </div>
  <!-- main部分 -->
  <div class="main-product">
    <div class="layui-container">
      <p class="title">{:get_system_config('easy_index_block_1_title_1')}<span>{:get_system_config('easy_index_block_1_title_2')}</span></p>
      <div class="layui-row layui-col-space25">
        {volist name='list_nav_index_block_1' id='nav'}
          
        <div class="layui-col-sm6 layui-col-md3">
          <div class="content">
            <div><img src="{$nav.img}"></div>
            <div>
              <p class="label">{$nav.title}</p>
              <p>{$nav.desc}</p>
            </div>
            <a href="{$nav.value}">查看产品 ></a>
          </div>
        </div>
        
        {/volist}
      </div>
    </div>
  </div>
  <div class="main-service">
    <div class="layui-container">
      <p class="title">{:get_system_config('easy_index_block_2_title_1')}<span>{:get_system_config('easy_index_block_2_title_2')}</span></p>
      <div class="layui-row layui-col-space25 layui-col-space80">
        {volist name='list_nav_index_block_2' id='nav'}
          
        <div class="layui-col-sm6">
          <div class="content">
            <div class="content-left"><img src="{$nav.img}"></div>
            <div class="content-right">
              <p class="label">{$nav.title}</p>
              <span></span>
              <p>{$nav.desc}</p>
            </div>
          </div>
        </div>
        {/volist}
        
      </div>
      
      <div class="service-more">
        {if !empty(get_system_config('easy_index_bottom_jump_url')) }
        <a href="{:get_system_config('easy_index_bottom_jump_url')}">查看更多</a>
        {/if}
      </div>
    </div>
  </div>
  {include file='common/_easy_blue_footer'/}

<!--[if lt IE 9]>
  <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
  <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

</body>
</html>